#school_section{
    padding: 100px 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap-reverse;
   
}

 

.all_logos{

    height: 400px;
    width: 400px;
    overflow: hidden;
   
    /*border: 5px solid var(--text-color);
 max height och width med viewportwidth vw ge mig chans att behålla formen */

max-height: 80vw;
    display: flex;
    align-items: center;

    justify-content:space-around;
   flex-wrap: wrap;
}

.school_container{
width: 750px;
max-width: 90%;

}
.school_container h2{
    font-size: 80px;

}
.school_container p { 
    text-align: justify;
    line-height: 175%;
}


.all_logos img{
    width: 80px;
    height: 80px;
    margin: 10px;

    max-width: 60vw;
max-height: 60vw;
}
@media (max-width: 800px){
    .all_logos{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
.school_container h2{
    text-align: center;
font-size: 12vw;
    
 
}
#school_section{
padding: 50px 0;

}
}