
:root{
    --main-brand-color:#1e81b0;

    
    --primary-color: #063970;
    --secondary-color: #76b5c5;

    
    --light-secondary-color:  #eab676;
    --text-color: #eeeee4 ;
    --secondary-text-color:  #eab676;

    --tertiery-text-color:#873e23; 
}

*{
    margin: 0;
    padding:0;
}
body{
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: var(--text-color)
}
header{
padding: 100px 25px;
display: flex;
justify-content: center;
align-items: center;
gap: 50px;
flex-wrap: wrap;

}
.header_text {
    width: 850px;
}
h1{
    font-size: 100px;
    line-height: 115%;
}
h3{
margin-top: 25px;
color: var(--secondary-text-color)

}



.circle {
    height: 400px;
    width: 400px;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid var(--main-brand-color);
/* max height och width med viewportwidth vw ge mig chans att behålla formen */
max-width: 80vw;
max-height: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;


}
.circle img {
    width: 100%;
}

nav{
margin-bottom: 120px;

}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}


nav a {
    color: var(--secondary-text-color);
    text-decoration: none;
    position: relative;
    padding: 3px;

}

nav a:hover{
    color: var(--text-color);
}

nav a::after{
content: "";
height: 2px;
width: 0%;
background: var(--main-brand-color);
position: absolute;
bottom: 0;
left: 0;
transition: 150ms ease-in-out;

}

nav a:hover::after{
    width: 100%;
}


#toggle_button{
    display: none;
}

label[for="toggle_button"] span {
    display: none;
}


label[for="toggle_button"] span {
    font-size: 40px;
}

/*mediaquery*/
@media(max-width: 800px){
    h1{
      font-size: 8vw;
       text-align: center;

        }
    h3{
        text-align: center;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    background: var(--secondary-color);
    padding: 15px;
    border-radius: 0 0 25px 0;
}

nav ul {
display: none;
flex-direction: column;
}

#toggle_button:checked ~ ul{
    display: flex;
}
label[for="toggle_button"] span {
    display: block;
}

}



